@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  background: #0B0F19;
  color: white;
}
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
}

.glass-card {
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(14px);
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 20px;
}

.page-container {
  @apply max-w-7xl mx-auto px-4;
}